<!DOCTYPE html>
<html
xmlns = "http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Cadastro de Funcionário</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</head>
<body>

	<h1>Cadastro de Funcionário</h1>
	
	<form method="POST" action="/funcionarios">
	
	<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
		<span th:text="${mensagem}"></span>
	</div>
	<div class="form-group row">
    <label for="nome" class="col-sm-2 col-form-label">Nome</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="nome" name = "nome">
    </div>
  </div>
  <div class="form-group row">
    <label for="cargo" class="col-sm-2 col-form-label">Cargo</label>
    <div class="col-sm-2">
      <select class = "form-control" name = "cargo">
      	<option th:each = "statuscargo : ${todosCargos}" th:value = "${statuscargo}" th:text = "${statuscargo.descricao}"></option>
      </select>
    </div>
  </div>	
  <div class="form-group row">
    <label for="inicioWa" class="col-sm-2 col-form-label">Inicio WA</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="inicioWa" name = "inicioWa">
    </div>
  </div>
  <div class="form-group row">
    <label for="fimWa" class="col-sm-2 col-form-label">Fim WA</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="fimWa" name = "fimWa">
    </div>
  </div>
  <div class="form-group row">
    <label for="matricula" class="col-sm-2 col-form-label">Matricula</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="matricula" name = "matricula">
    </div>
  </div>
  <div class="form-group row">
    <label for="alocacao" class="col-sm-2 col-form-label">Alocação</label>
    <div class="col-sm-2">
      <select class = "form-control" name = "vaga">
      	<option th:each = "alocvaga: ${todasVaga}" th:text = "${alocvaga.nomeVaga}" th:value = "${alocvaga.id}"></option>    	
      </select>
    </div>
  </div>
  
  <div class="form-check" th:each = "tecno: ${todasTecnologia}">
	  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" th:text = "${tecno.nome}" th:value = "${tecno.id}" name = "tecnologia">
	  <label class="form-check-label" for="defaultCheck1"></label>
  </div>
  <div class="form-group row">
    <label for="localdeTrabalho" class="col-sm-2 col-form-label">Local de Trabalho</label>
    <div class="col-sm-2">
      <select class = "form-control" name = "gft">
      	<option th:each = "local: ${todasGft}" th:text = "${'GFT ' + local.cidade}" th:value = "${local.id}"></option>     	
      </select>
    </div>
  </div>
  	<div class = "form-group">
  		<div class = "col-sm-offset-2 col-sm-10">
  			<button type = "submit" class = "btn btn-primary">Salvar</button>
  		</div>
  	</div>

</form>

		<div class = "col-sm-offset-2 col-sm-10">
  			<a href ="/wa">
  				<button class = "btn btn-primary">Voltar para o inicio</button>
  			</a>
  		</div>

<script src="/js/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.pt-BR.min.js"></script>
<script src="/js/jquery.maskMoney.min.js"></script>
</body>
</html>