<!DOCTYPE html>
<html
xmlns = "http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Pesquisa Funcionário em WA</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</head>
<body>

	
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center a1">#</th>
					<th class="text-center a1">Nome</th>
					<th class="text-center a1">Cargo</th>
					<th class="text-center a1">Inicio WA</th>
					<th class="text-center a1">Fim WA</th>
					<th class="text-center a1">Tecnologia</th>
					<th class="text-center a1">Matricula</th>
					<th class="text-center a1">Alocação</th>
					<th class="text-center a1">Local de Trabalho</th>
				</tr>
			</thead>
				<tbody>
					<tr th:each = "func : ${funcionarios}" name = "funcionario">
						<td class="text-center a1" th:text="${func.id}"></td>
						<td class="text-center a1" th:text="${func.nome}"></td>
						<td class="text-center a1" th:text="${func.cargo.descricao}"></td>
						<td class="text-center a1" th:text="${{func.inicioWa}}"></td>
						<td class="text-center a1" th:text="${{func.fimWa}}"></td>
						<td>
                 		 <span th:each="tecno : ${func.tecnologia}"th:text="${tecno.nome} "></span>
               			 </td>
						<td class="text-center a1" th:text="${func.matricula}"></td>
						<td class="text-center a1" th:text = "${func.vaga.nomeVaga}"></td>
						<td class="text-center a1" th:text = "${func.gft.cidade}"></td>
					</tr>
					<tr>
						<td colspan="9" th:if ="${#lists.isEmpty(funcionarios)}">Nenhum funcionário foi encontrado.</td>
					</tr>
				</tbody>
		</table>
		
		<div class = "col-sm-offset-2 col-sm-10">
  		<a href ="/funcionarios/novo">
  			<button class = "btn btn-primary">Cadastrar novo Funcionário</button>
  			</a>
  		</div>
	
	
<script src="/js/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.pt-BR.min.js"></script>
<script src="/js/jquery.maskMoney.min.js"></script>
</body>
</html>