<!DOCTYPE html>
<html
xmlns = "http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Cadastro de Funcionário</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</head>

<body>

	<div class = "form-group">
  		<div class = "col-sm-offset-2 col-sm-10">
  		<a href ="/popular">
  			<button class = "btn btn-primary">Popular GFT</button>
  			</a>
  		</div>
  	</div>
 
 	<div class = "form-group">
  			<div class = "col-sm-offset-2 col-sm-10">
  				<a href ="/tecnologia">
  					<button class = "btn btn-primary">Popular Tecnologia</button>
  				</a>
  			</div>
  		</div>
  		
  		<div class = "form-group">
  			<div class = "col-sm-offset-2 col-sm-10">
  				<a href ="/funcionarios/novo">
  					<button class = "btn btn-primary">Cadastrar Funcionários</button>
  				</a>
  			</div>
  		</div>
	
	<div class = "form-group">
		<div class = "col-sm-offset-2 col-sm-10">
  			<a href ="/vaga/novo">
  				<button class = "btn btn-primary">Cadastrar Vaga</button>
  			</a>
  		</div>
  		</div>
  		

<script src="/js/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.pt-BR.min.js"></script>
<script src="/js/jquery.maskMoney.min.js"></script>
</body>
</html>